@import '../../../../../../src/app/components/sass/mixins';

$border-radius: $button-border-radius;

:host {
  overflow: hidden;
  display: block;
  float: left;
  clear: left;
  border-radius: $border-radius;
  cursor: pointer;

  &:first-of-type div {
    margin-top: $button-padding;
  }
  &:last-of-type div {
    margin-bottom: $button-padding;
  }
}

div {
  margin: ($button-padding * 0.5) 0;
  padding: $button-padding;
  background: $grey-light-secondary;
  color: $black-text-secondary;
  border-radius: $border-radius;
  transition: all $transition;

  @include hover {
    background: darken($grey-light-secondary, 2%);
    color: $black-text-primary;
  }
}
