@import '../../../../src/app/components/sass/reset',
  '../../../../src/app/components/sass/mixins';

a {
  @include hoverScale(1.1, 0.9);
}

:host {
  display: block;
  position: sticky;
  top: 0;
  font-family: -apple-system, BlinkMacSystemFont, Helvetica Neue, Helvetica,
    Arial, sans-serif;
  @include font(body-1);
}

.banner {
  overflow: hidden;
  @include boxShadow($red-primary);

  .banner-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 0.25em ($gutter);

    p {
      margin: 0.25em 0;
    }

    .banner-actions {
      flex-shrink: 0;
      display: flex;
      margin: 0.25em (-$button-padding);

      a {
        display: block;
        margin: $button-padding;
        padding: $button-padding;
        border-radius: $button-border-radius;
      }
    }
  }
}

#banner-global {
  background: $red-primary;
  color: $white-text-primary;
  animation: reveal 0.4s cubic-bezier(0.86, 0, 0.07, 1) forwards;

  .banner-actions {
    a {
      @include innerButtonBackground($red-primary);
      color: $white-text-primary;
    }
  }
}

#banner-app {
  background: $red-secondary;
  color: $red-secondary-text;

  .banner-actions {
    a {
      @include innerButtonBackground($red-secondary);
      color: $red-secondary-text;
    }
  }
}

@keyframes reveal {
  from {
    max-height: 0;
  }
  to {
    max-height: 500px;
  }
}
