@import '../../../../src/app/components/sass/mixins';

$product-gap: 1em;

:host {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-auto-rows: 15vw;
  column-gap: $product-gap;
  row-gap: $product-gap;

  @include desktop {
    grid-auto-rows: 10vw;
  }

  div {
    overflow: hidden;
    border-radius: 0.3em;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
}
