@import './grid';

@function stripunit($number) {
  @return $number / ($number * 0 + 1);
}

@mixin font-size($xs, $sm: 0, $md: 0, $lg: 0, $xl: 0) {
  font-size: $xs;

  @if ($sm > 0) {
    @include sm {
      @if (unit($sm) == 'rem' OR unit($sm) == 'em') {
        font-size: stripunit($sm) * 16px;
      }

      font-size: $sm;
    }
  }

  @if ($md > 0) {
    @include md {
      @if (unit($md) == 'rem' OR unit($md) == 'em') {
        font-size: stripunit($md) * 16px;
      }

      font-size: $md;
    }
  }

  @if ($lg > 0) {
    @include lg {
      @if (unit($lg) == 'rem' OR unit($lg) == 'em') {
        font-size: stripunit($lg) * 16px;
      }

      font-size: $lg;
    }
  }

  @if ($xl > 0) {
    @include xl {
      @if (unit($xl) == 'rem' OR unit($xl) == 'em') {
        font-size: stripunit($xl) * 16px;
      }

      font-size: $xl;
    }
  }
}

@function _str-last-index($string, $needle) {
  $index: str-index($string, $needle);
  $result: $index;

  @if $index {
    @for $i from $index + str-length($needle) through str-length($string) {
      @if str-slice($string, $i, $i + str-length($needle) - 1) == $needle {
        $result: $i;
      }
    }
  }

  @return $result;
}

@function src($formats, $dir, $name) {
  $src-list: ();

  @each $format in $formats {
    $src-list: append(
      $src-list,
      url($dir + $name + '.#{$format}') format('#{$format}'),
      'comma'
    );
  }
  @return $src-list;
}

@mixin font-src($location, $formats) {
  $name-start: _str-last-index($location, '/');
  $name: str_slice($location, ($name-start + 1));
  $dir: str_slice($location, 1, $name-start);
  $formats: selector_parse($formats);

  src: src($formats, $dir, $name);
}
