@import 'src/app/components/sass/reset', 'src/app/components/sass/mixins';

button {
  @extend %button;
  @include hoverScale(1.1, 0.9);
}

component-search {
  display: flex;
  flex-direction: column;
  @extend %container;
  max-height: 50vh;
  font-family: -apple-system, BlinkMacSystemFont, Helvetica Neue, Helvetica,
    Arial, sans-serif;
  @include font(body-1);

  #search-bar {
    position: relative;
    width: 100%;
    margin: 0.5em 0;

    input {
      width: 100%;
      margin: 0;
      @include font-size(2rem, 2.6rem, 5vw);
      color: $black-text-primary;

      &::placeholder {
        color: $black-text-primary;
        opacity: 1;
        letter-spacing: 0.4em;
      }

      &::-ms-clear {
        display: none;
      }
    }

    #clear {
      position: absolute;
      top: 0;
      bottom: 0;
      right: 0;
      margin: auto;
      @include closeButton(1.6em, $black-hover, $black);
    }
  }
}
