@import 'src/app/components/sass/mixins', '../../directives/hover';

$checkout-hide-size: 0.6em;

:host {
  overflow: hidden;
  display: flex;
  flex-direction: column;
  @include padding-menu('margin');
  @include padding-menu-inner;
  margin-bottom: $button-padding;
  background: $grey-dark;
  color: $white-text-primary;
  border-radius: $button-border-radius;
  transform-origin: center bottom;
}

#header {
  flex-shrink: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: $checkout-header-height;
  @include font(title);

  h3 {
    margin: auto 0;
    @include font(subheading-2);
  }
}

#info {
  flex-grow: 1;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  #info-items {
    overflow: hidden;
    background: $black;
    border-radius: $button-border-radius;
  }

  #info-footer {
    flex-shrink: 0;
    overflow: hidden;
    display: flex;
    flex-direction: row-reverse;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    min-height: $checkout-header-height;
    margin: 0.75em 0;
    @include font(subheading-2);

    #total {
      flex-basis: 100px;
      margin: 0.5em 0 0.5em auto;
      text-align: right;
    }

    #link {
      flex-grow: 1;
      padding: $button-padding * 1.5;
      box-shadow: inset 0 0 0 1px $grey-medium;
      border-radius: $button-border-radius;
      transform: none;
      transition: all $transition;
      @include appHover;

      &.disabled {
        cursor: none;
        pointer-events: none;

        & > * {
          opacity: 0.6;
          transition: opacity $transition;
        }
      }

      @include hover {
        box-shadow: none;

        i {
          transform: rotate(45deg) translate(50%, -50%);
        }
      }

      span {
        margin-right: 0.5em;
      }

      i {
        @include arrow(25px, 2px);
        margin-left: $button-padding * 1.5;
        color: inherit;
        transition: transform $transition;
      }
    }
  }
}
