<div
  id="banner-global"
  class="banner"
  *ngIf="type === 'global'"
  role="alertdialog"
  aria-labelledby="banner-global-error"
>
  <div class="banner-container" tabindex="0">
    <p id="banner-global-error">Oops, an error occurred</p>
    <div class="banner-actions">
      <a>Back to products</a>
      <a>Reload</a>
    </div>
  </div>
</div>

<div
  id="banner-app"
  class="banner"
  *ngIf="type === 'app'"
  @enterLeave
  role="alertdialog"
  aria-labelledby="banner-app-error"
>
  <div class="banner-container" tabindex="0">
    <p id="banner-app-error">Couldn&rsquo;t load products</p>
    <div class="banner-actions">
      <a>
        Dismiss
      </a>
      <a>
        Retry
      </a>
    </div>
  </div>
</div>
