<div
  id="banner-global"
  class="banner"
  *ngIf="!showAppError"
  role="alertdialog"
  aria-labelledby="banner-global-error"
>
  <div class="banner-container" tabindex="0">
    <p id="banner-global-error">Oops, an error occurred</p>
    <div class="banner-actions">
      <a id="banner-global-action-home">Back to products</a>
      <a id="banner-global-action-reload">Reload</a>
    </div>
  </div>
</div>

<div
  id="banner-app"
  class="banner"
  *ngIf="showAppError"
  @enterLeave
  role="alertdialog"
  aria-labelledby="banner-app-error"
>
  <div class="banner-container" tabindex="0">
    <p id="banner-app-error">Couldn&rsquo;t load products</p>
    <div class="banner-actions">
      <button (click)="handleAppClick()">
        Dismiss
      </button>
      <button (click)="handleAppClick()">
        Retry
      </button>
    </div>
  </div>
</div>
